extends ./main.jade

prepend main
  include ../includes/elements/text-plain.jade
  include ../includes/elements/features.jade
  // CTA
  include ../includes/elements/cta.jade
  include ../includes/elements/text-carousel.jade
