footer
  .container
    .row
      .col-md-6
        ul.legals
          li
            a(href='#') Terms &amp; Conditions
          li
            a(href='#') Legals
      .col-md-6.credit
        p
          | Designed &amp; Developed by 
          a(href='http://www.peterfinlan.com/') Peter Finlan
          |  exclusively for 
          a(href='http://tympanus.net/codrops/')
            em Codrops
