hr
h3(style='text-align: center') This was generated with Metalsmith
p
  small(style='text-align: center') No rights reserved
  
block scripts
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
