article#contact.dark-bg.text-center.section-padding.contact-wrap
  article
  a.up-btn(href='#top')
    i.fa.fa-chevron-up
  .container
    .row
      .col-md-12
        h1.arrow Trimite-mi un mesaj
    .row.contact-details
      .col-md-12
        form(action='#' method="POST")
          .row(style="padding: 10px;")
            .col-md-6(style="text-align: right;")
              input(type='text', name='name', placeholder='Nume', required='')
            .col-md-6(style="text-align: left;")
              input(type='email', name='email', placeholder='E-mail sau telefon', required='')
          .row(style="padding: 10px;")
            .col-md-12
              textarea(name='messsage', placeholder='Mesaj', required='')
              br
              input(type='submit', name='', value='TRIMITE')
    .row
      .col-md-12
        ul.social-buttons
          li
            a.social-btn(href='#')
              i.fa.fa-facebook
          li
            a.social-btn(href='#')
              i.fa.fa-twitter
          li
            a.social-btn(href='#')
              i.fa.fa-linkedin
