section#contact.dark-bg.text-center.section-padding.contact-wrap
  a.up-btn(href='#top')
    i.fa.fa-chevron-up
  .container
    .row
      .col-md-12
        h1.arrow Drop us a line
    .row.contact-details
      .col-md-4
        .light-box.box-hover
          h2
            i.fa.fa-map-marker
            span Address
          p Level 6, 23 Pitt St, Sydney
      .col-md-4
        .light-box.box-hover
          h2
            i.fa.fa-mobile
            span Phone
          p +61 9 211 3747
      .col-md-4
        .light-box.box-hover
          h2
            i.fa.fa-paper-plane
            span Email
          p
            a(href='#') hey@halcyondays.com
    .row
      .col-md-12
        ul.social-buttons
          li
            a.social-btn(href='#')
              i.fa.fa-dribbble
          li
            a.social-btn(href='#')
              i.fa.fa-twitter
          li
            a.social-btn(href='#')
              i.fa.fa-envelope
