section#features.features.text-center.section-padding
  .container
    .row
      .col-md-12
        h1.arrow Love what you do, and you&apos;ll do it well
        .features-wrapper
          .col-md-4.wp2
            .icon
              i.fa.fa-laptop.shadow
            h2 Digital Design
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
              | primis in faucibus.
          .col-md-4.wp2.delay-05s
            .icon
              i.fa.fa-code.shadow
            h2 Web Development
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
              | primis in faucibus.
          .col-md-4.wp2.delay-1s
            .icon
              i.fa.fa-heart.shadow
            h2 Creative Direction
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
              | primis in faucibus.
          .clearfix
