section#portfolio.portfolio.text-center.section-padding
  .container
    .row
      #portfolioSlider
        ul.slides
          li
            .col-md-4.wp4
              .overlay-effect.effects.clearfix
                .img
                  img(src='public/assets/img/portfolio-01.jpg', alt='Portfolio Item')
                  .overlay
                    a.expand(href='#')
                      i.fa.fa-search
                      br
                      | View More
                    a.close-overlay.hidden
              h2 Creative Min
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libe
            .col-md-4.wp4.delay-05s
              .overlay-effect.effects.clearfix
                .img
                  img(src='public/assets/img/portfolio-02.jpg', alt='Portfolio Item')
                  .overlay
                    a.expand(href='#')
                      i.fa.fa-search
                      br
                      | View More
                    a.close-overlay.hidden
              h2 Creative Hear
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libe
            .col-md-4.wp4.delay-1s
              .overlay-effect.effects.clearfix
                .img
                  img(src='public/assets/img/portfolio-03.jpg', alt='Portfolio Item')
                  .overlay
                    a.expand(href='#')
                      i.fa.fa-search
                      br
                      | View More
                    a.close-overlay.hidden
              h2 Creative Ide
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing lib
          li
            .col-md-4.wp4
              .overlay-effect.effects.clearfix
                .img
                  img(src='public/assets/img/portfolio-01.jpg', alt='Portfolio Item')
                  .overlay
                    a.expand(href='#')
                      i.fa.fa-search
                      br
                      | View More
                    a.close-overlay.hidden
              h2 Creative Min
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libe
            .col-md-4.wp4.delay-05s
              .overlay-effect.effects.clearfix
                .img
                  img(src='public/assets/img/portfolio-02.jpg', alt='Portfolio Item')
                  .overlay
                    a.expand(href='#')
                      i.fa.fa-search
                      br
                      | View More

                    a.close-overlay.hidden
              h2 Creative Hear
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libe
            .col-md-4.wp4.delay-1s
              .overlay-effect.effects.clearfix
                .img
                  img(src='public/assets/img/portfolio-03.jpg', alt='Portfolio Item')
                  .overlay
                    a.expand(href='#')
                      i.fa.fa-search
                      br
                      | View More
                    a.close-overlay.hidden
              h2 Creative Ide
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
