section#features.features.text-center.section-padding
  .container
    .row
      .col-md-12
        h1.arrow IUBESC CEEA CE FAC SI DE ACEEA, O FAC BINE
        .features-wrapper
          .col-md-4.wp2
            .icon
              i.fa.fa-link.shadow
            h2 MARKETING ONLINE
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
              | primis in faucibus.
          .col-md-4.wp2.delay-05s
            .icon
              i.fa.fa-comment.shadow
            h2 PUBLIC RELATIONS
            p
              | Mentinerea unei bune relatii cu mass-media pe segmental specific businessului,
              | suport in vederea organizarii unor evenimente. Realizare communicate de presa, 
              | advertoriale etc.
          .col-md-4.wp2.delay-1s
            .icon
              i.fa.fa-pencil.shadow
            h2 COPYWRITING &amp; CONTENT MANAGEMENT
            p
              | Crearea textelor pentru reclame, bannere, articole promotionale etc. & Creare si
              | dezvoltare de continut pentru blogul companiei.
          .clearfix
