section.subscribe.text-center
  .container
    h1
      i.fa.fa-paper-plane
      span Subscribe to stay in the loop
    form(action='#')
      input(type='text', name='', value='', placeholder='', required='')
      input(type='submit', name='', value='Send')
