section#team.team.text-center.section-padding
  .container
    .row
      .col-md-12
        h1.arrow Un titlu frumos despre mine ce studii am si de ce sunt calificata
    .row
      .team-wrapper
        #teamSlider
          ul.slides
            li
              .col-md-4.wp5
                img(src='public/assets/img/team-01.png', alt='Team Member')
                h2 NICOLETA GRICIUC
                p
                  | Iubesc ceea ce fac si de aceea o fac bine. Ar trebui sa mai
                  | fie ceva text scris aici just for de simetry of it bla bla
                  | lorem ispum dolor sit amet.
                .social
                  ul.social-buttons
                    li
                      a.social-btn(href='#')
                        i.fa.fa-facebook
                    li
                      a.social-btn(href='#')
                        i.fa.fa-twitter
                    li
                      a.social-btn(href='#')
                        i.fa.fa-envelope
              .col-md-8.wp5.delay-05s
                p(style="text-align: left;")
                  strong 2008 - 2010
                p(style="text-align: left;") Masterat - SNSPA - Scoala Nationala de Studii Politice si Administrative - Comunicare Audio Video
                p(style="text-align: left;")
                  strong 2003 - 2008
                p(style="text-align: left;") Facultate / Colegiu - SNSPA- Scoala Nationala de Studii Politice si Administrative

