section#team.team.text-center.section-padding
  .container
    .row
      .col-md-12
        h1.arrow We&apos;re a team that adore what we do
    .row
      .team-wrapper
        #teamSlider
          ul.slides
            li
              .col-md-4.wp5
                img(src='public/assets/img/team-01.png', alt='Team Member')
                h2 Jon Snow
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
                .social
                  ul.social-buttons
                    li
                      a.social-btn(href='#')
                        i.fa.fa-dribbble
                    li
                      a.social-btn(href='#')
                        i.fa.fa-twitter
                    li
                      a.social-btn(href='#')
                        i.fa.fa-envelope
              .col-md-4.wp5.delay-05s
                img(src='public/assets/img/team-02.png', alt='Team Member')
                h2 Cersei Lannister
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
                .social
                  ul.social-buttons
                    li
                      a.social-btn(href='#')
                        i.fa.fa-dribbble
                    li
                      a.social-btn(href='#')
                        i.fa.fa-twitter
                    li
                      a.social-btn(href='#')
                        i.fa.fa-envelope
              .col-md-4.wp5.delay-1s
                img(src='public/assets/img/team-03.png', alt='Team Member')
                h2 Jamie Lannister
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
                .social
                  ul.social-buttons
                    li
                      a.social-btn(href='#')
                        i.fa.fa-dribbble
                    li
                      a.social-btn(href='#')
                        i.fa.fa-twitter
                    li
                      a.social-btn(href='#')
                        i.fa.fa-envelope
            li
              .col-md-4.wp5
                img(src='public/assets/img/team-01.png', alt='Team Member')
                h2 Jon Snow
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
                .social
                  ul.social-buttons
                    li
                      a.social-btn(href='#')
                        i.fa.fa-dribbble
                    li
                      a.social-btn(href='#')
                        i.fa.fa-twitter
                    li
                      a.social-btn(href='#')
                        i.fa.fa-envelope
              .col-md-4.wp5.delay-05s
                img(src='public/assets/img/team-02.png', alt='Team Member')
                h2 Cersei Lannister
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
                .social
                  ul.social-buttons
                    li
                      a.social-btn(href='#')
                        i.fa.fa-dribbble
                    li
                      a.social-btn(href='#')
                        i.fa.fa-twitter
                    li
                      a.social-btn(href='#')
                        i.fa.fa-envelope
              .col-md-4.wp5.delay-1s
                img(src='public/assets/img/team-03.png', alt='Team Member')
                h2 Jamie Lannister
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
                .social
                  ul.social-buttons
                    li
                      a.social-btn(href='#')
                        i.fa.fa-dribbble
                    li
                      a.social-btn(href='#')
                        i.fa.fa-twitter
                    li
                      a.social-btn(href='#')
                        i.fa.fa-envelope
