section#responsive.text-center
  .container-fluid.nopadding.responsive-services
    .wrapper
      .iphone
        .wp3
      .fluid-white
    .container.designs
      .row
        .col-md-5.col-md-offset-7
          #servicesSlider
            h1.arrow ULTIMELE COLABORARI
            ul.slides
              li
                h3 CLINICA RESPIRO DENTAL
                p Consultanta in vederea schimbarii celor doua site-uri ale clinicii: 
                  a(href="http://www.respirodental.ro" target="_blank" rel="nofollow") www.respirodental.ro 
                  | si 
                  a(href="http://www.regenerare-gingivala.ro" target="_blank" rel="nofollow") www.regenerare-gingivala.ro
                p Participarea la evenimente (evenimentul Back to School – realizat in parteneriat cu
                  | revista Pap Tot – septembrie 2015, participarea cu vouchere la Baby Expo pe partea 
                  | de stomatologie pentru copii – septembrie 2015)
                p Obtinere interviu in revistele Click Sanatate si Pap Tot: 
                  | Campanie pe trei luni cu United Way Romania (campanie in desfasurare) pentru 
                  | ajutorarea copiilor nevoiasi
                p Social Media – postari pe cele doua pagini de Facebook si Twitter, administrarea
                  | reclamelor pe Facebook, interactiunea cu pacientii pe aceste canale
                  | Realizarea abonamentelor clinicii Business si Individuala
                  | Reactualizare baza de date
                  | Content management pentru blogul Respiro Dental
                  | Realizare pliante, roll-up, afise (in colaborare cu un grafician)
                  | Gestionarea campaniilor de Adwords (prin colaborare)
              li
                h3 HOMEYCOMB.RO
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
                p
                  | Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan.
                p
                  | Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem. Suspendisse sed venenatis odio, quis lobortis eros.
