section#responsive.text-center
  .container-fluid.nopadding.responsive-services
    .wrapper
      .iphone
        .wp3
      .fluid-white
    .container.designs
      .row
        .col-md-5.col-md-offset-7
          #servicesSlider
            ul.slides
              li
                h1.arrow Responsive Design Specialists
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
                p
                  | Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan.
                p
                  | Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem. Suspendisse sed venenatis odio, quis lobortis eros.
              li
                h1.arrow Bootstrap Professionals
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
                p
                  | Mauris ultrices odio vitae nulla ultrices iaculis. Nulla rhoncus odio eu lectus faucibus facilisis. Maecenas ornare augue vitae sollicitudin accumsan.
                p
                  | Etiam eget libero et erat eleifend consectetur a nec lectus. Sed id tellus lorem. Suspendisse sed venenatis odio, quis lobortis eros.
